.mainPage {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4 ;


}

.left-side,
.right-side {
  flex: 1;
  /* flex 아이템들이 동일한 비율로 공간 차지 */
  height: 100vh;
  /* 전체 화면 높이 */
  overflow: auto;
  /* 내용이 많을 경우 스크롤 가능하도록 설정 */
}


.right-side {
  background-color: #ffffff;
  /* 필요한 추가 스타일링 */
}

.leftTopTab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  background-color: #D9D9D9;
  padding: 8px;
  


}


.leftTopTab button {
  padding: 10px 15px;
  /* Adjust padding to control the height and width */
  flex: 1;
  /* Makes both buttons take up equal space in the container */
  border: grey;
  margin-right: 5px;
  /* Right margin for the left button only */
  border-radius: 10px;
}

.rightTopTab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
  background-color: #D9D9D9;
  padding: 8px;
  
}


.rightTopTab button {
  padding: 10px 15px;
  /* Adjust padding to control the height and width */
  flex: 1;
  /* Makes both buttons take up equal space in the container */
  border: grey;
  margin-right: 5px;
  /* Right margin for the left button only */
  border-radius: 10px;
}



.tabcontent {
  display: none;
  /* This hides all tab content by default */
}

.tabcontent.active {
  display: block;
  /* This will show the tab content when 'active' class is added */
}

.fixInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  /* This will vertically center align items */
}

.profilePic {
  width: 20%;
  /* This sets the width of the picture */
  height: 20%;
  /* This sets the height of the picture to be the same as the width to maintain aspect ratio */
  border-radius: 50%;
  /* This will make the div circular */
  overflow: hidden;
  /* This ensures that the image doesn't spill outside the div */
  margin-left: 12%;
  margin-right: 10%;
  /* Adds space between the image and the name title */
}

.profilePic img {
  width: 100%;
  /* This ensures the image covers the profile pic area */
  height: auto;
  /* This keeps the image's aspect ratio intact */
  display: block;
  /* Ensures img tag is treated as a block-level element */
}

.nameTitle {
  text-align: left;
  margin-left: 5%;
  /* Aligns the title and input in a column */
}

.nameInput {
  /* Your styles for name input here */
  text-align: left;
  
  border: 0.5px solid #f4f4f4;
  padding: 12px;
  border-radius: 10px;
  width: 93%;
  /* Adds a little space between the title and the input */
}

.instructionName {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
  margin-left: 5%;
  

  /* This is the correct property to align text to the left */

}

.instructionInput {
  text-align: left; /* Aligns text to the left */
  background-color: white;
  border: 0.5px solid #f4f4f4;
  border-radius: 10px;
  width: 96%;
  height: 350px;
  padding: 12px; /* Adjust padding as needed */
  resize: none; /* Prevents resizing the textarea */
  overflow: auto; /* Adds a scrollbar if the text overflows */
  line-height: normal; /* Adjusts the spacing between lines */
  box-sizing: border-box; /* Includes padding and border in the width and height */
  font-family: Arial, Helvetica, sans-serif;
}

.bottom{
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
  margin-top: 10px;
}

.saveBtn {
  background-color: #6e6d6d;
  padding: 5px 20px;
  color: white;
  border: none;
  border-radius: 7px;
}

.inputAndSend {
  
  display: flex;
  margin-top: 87%;
  justify-content: center;


}


.send {
  background-color: #6e6d6d;
  padding: 5px 20px;
  color: white;
  border: none;
  border-radius: 7px;
  margin-left: 1%;
  
}


.inputContainer {
  width: 85%;

  padding: 15px;
  /* Adds padding inside the input for better text visibility */
  font-size: 16px;
  /* Increases the font size for better readability */

  background-color: #f3f3f3;
  /* Changes the background color */
  border: none;
  /* Removes the border */
  border-radius: 10px;
  /* Adds rounded corners to the input box */
}