.container {
    display:flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    
}

.left-side, .right-side {
    flex: 1; /* flex 아이템들이 동일한 비율로 공간 차지 */
    height: 100vh; /* 전체 화면 높이 */
    overflow: auto; /* 내용이 많을 경우 스크롤 가능하도록 설정 */
  }

.left-side {
   
  }
  
.right-side {
    background-color: antiquewhite;
    /* 필요한 추가 스타일링 */
  }

.topbarcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #D9D9D9;
    padding: 8px;
    border-radius: 10px;


}


.page-pi,.page-goals,.page-si {
    padding: 10px 15px;
    /* Adjust padding to control the height and width */
    flex: 1;
    /* Makes both buttons take up equal space in the container */
    border: grey;
    margin-right: 5px;
    /* Right margin for the left button only */
    border-radius: 10px;
}


