body,
html {
    height: 100%;
    /* This makes sure that the HTML and body tags take up the full height of the viewport */
    margin: 0;
    /* Removes the default margin provided by browsers */
    display: flex;
    /* Enables flexbox */
    justify-content: center;
    /* Centers content horizontally */
    align-items: center;
    /* Centers content vertically */
    background-color: #f4f4f4;
    /* Optional: sets a background color */
}

.signholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 150px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    /* Optional: Adds a shadow for better visibility */
    background: white;
    /* Optional: sets a background color for the signholder */
    border-radius: 10px;
    /* Optional: rounds the corners */
}

.signupbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Adjust width as needed */
}

.signInput {

    padding: 10px 15px;
    /* Adds padding for aesthetics */
    margin-bottom: 20px;
    /* Adds a bottom margin for spacing */
    border: 0.1px solid #ccc ;
    border-radius: 4px;


    /* Rounds the corners of inputs and buttons */
}



.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* This will place a bit of space between the two buttons */
}

.loginBtn,
.signBtn {
    padding: 7px 15px;
    /* Adjust padding to control the height and width */
    flex: 1;
    /* Makes both buttons take up equal space in the container */
    border: grey;
    margin-right: 5px;
    /* Right margin for the left button only */
    border-radius: 4px;
}

.signBtn {
    margin-right: 0;
    /* Removes the right margin for the rightmost button */
}



.loginBtn:hover {
    background-color: #00a49192;
}

.signBtn:hover {
    background-color: #00a49192;;
}


.signinTitle {
    font-size: 30px ;
    /* Adjust the size as needed */
    margin-bottom: 30px;
    /* Adds space below the title */
    text-align: center;
    /* Centers the text */
    font-weight: 450;
}


